@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@mixin red {
    border: 1px solid red;
}

body{
    width: 100%;
    height: 100vh;

    background-color: #191919;
}

header{
    background-image: url(../images/header-bg.jpg);

    min-height: 800px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-attachment: fixed;
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;

    transition: .5s;

    h1{
        color: #000;
        font-size: 2em;
    }
}

.search-container{
    min-height: 800px;
    width: 100%;

    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .search{
        width: 100%;
        height: 120px;

        display: flex;
        align-items: center;
        justify-content: center;

        input[type=search]{
            background-color: #a52424;
            width: 75%;
            max-width: 540px;
            height: 50%;

            border-radius: 8px;
            border: none;

            color: #191919;
            font-size: 1.2em;

            padding: 16px;

            &:focus{
                border: none;
                outline: none;
            }

            &::placeholder{
                color: #191919;   
            }
        }
    }

    .pokemon-container{
        width: 75%;
        max-width: 540px;

        height: 360px;

        position: relative;

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 4px;

        border: 1px solid #a52424;
        border-radius: 20px;
        background-color: #a52424;
        padding: 16px;


        #name, #abilities, #order{
            color: #191919;
            font-size: 1.5em;
        }

        #order{
            position: absolute;
            top: 16px;
            right: 16px;
        }

        #abilities{
            text-align: center;
        }
    
        #image{
            display: block;
        }

        #type{
            display: flex;
            gap: 4px;
            flex-direction: row;

            button{
                padding: 8px;
                color: #fff;
                border: none;
                text-transform: uppercase;
                transition: filter .5s;

                &:hover{
                    filter: opacity(0.8);
                    cursor: pointer;
                }
            }
        }
    }

    #spinner{
        display: none;
    }
}